
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.content{   
    background: linear-gradient(to right, #121143 0%, #02d1fd 100%);
}

.grid-container{
    display: inline-grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    width: 100%;
}
.grid-item{
    background: blueviolet;
    padding: 5px;
    margin: 2px;
    text-align: center;
}

footer{
    background-color: lightgrey;
}
#open{
    border: 2px dashed white;
}
