*{
    padding: 0;
    margin: 0;
}
header{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color:black;
}
section{
    background: linear-gradient(to left, #33ccff 0%, #660066 100%);
}
.tieude{
    width: 0;
    margin: auto;
}
.content div{
    display: inline-block;
    width: 300px;
    padding: 10px;
    margin: 5px;
    float: left;
    background-color: blueviolet;
    color: white;
    text-align: center;
}

.context img{
    width: 10%;
}
.context .content{
    margin: 0;
    padding: 0;
}

.tieude span {
    text-align: center;
    font-weight: bolder;
    color: white;
  }
  
.sider {
    color: white;

    width: 190px;
    margin: auto;
  }
.sider span {
    color: white;
    height: 240px;
    line-height: 76px;
}

.content .item_3 span{
    color: black;

    background-color: #afafaf;;
    width: 100%;
    padding: 5px;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 10%;
}
.content .item_4 span{
    color: black;

    background-color: #afafaf;;
    width: 100%;
    padding: 5px;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 10%;
}


.content .item_7 span{
    color: white;

    width: 100%;
    padding: 5px;
    padding-right: 30px;
    padding-left: 30px;    
    border: 2px dashed;
    font-weight: bold;
}
