.page ::-webkit-scrollbar{
    height: 10px;
}
.error{
    padding-left: 5px;
    padding-top: 5px;
    display: block;
    color: #ee0033;
    font-style: italic;
    font-size: 12px;
}
.input-group .error{
    flex-basis: 100%;
}
.main-menu-container li.active, .main-menu-container li:hover {
    background-color: rgba(var(--success-rgb),.1)!important;
    color: rgb(var(--success-rgb))!important;
}
.card-table .data-table-btn{
    inset-inline-start: 30.5rem;
    margin: 0;
}
.card-home .btn-primary{
    width: 45%;
}
.card-home .d-flex{
    align-items: center;
}
.card-home .d-flex h3{
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.card-home .badge {
    padding: 0.6rem 1.3rem !important;
    font-size: 12px;
    font-weight: 700;
}
.card-home .fw-normal{
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.c-click{
    cursor: pointer;
}
.container-check {
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.container-check input {
    position: absolute;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkmark {
    position: absolute;
    top: -25px;
    left: 0px;
    height: 75px;
    width: 120%;
    background-color: #eee;
}
.checkmark-full{
    position: absolute;
    top: -41px;
    left: 0px;
    height: 102px;
    width: 120%;
    background-color: #eee;
}
.checkmark:after, .checkmark-full:after {
    content: "";
    position: absolute;
    display: none;
}
.container-check:hover input~.checkmark, .container-check:hover input~.checkmark-full {
    background-color: #ccc;
}
.container-check input:checked ~ .checkmark, .container-check input:checked ~ .checkmark-full {
    background-color: #2196F3;
}
.container-check .checkmark:after, .container-check .checkmark-full:after {
    left: 41%;
    top: 27%;
    width: 14px;
    height: 21px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.container-check .checkmark-full:after {
    left: 38%;
    top: 35%;
}
.container-check input:checked ~ .checkmark:after, .container-check input:checked ~ .checkmark-full:after {
    display: block;
}
#tacvu {
    margin: 10px 10px 20px 0;
    display: none;
}
.show-file{
    display: block;
}

/* Table */

.dataTables_length{
    margin-bottom: 20px;
}
.table.dataTable thead th{
    text-align: center !important;
}
table thead tr th:nth-child(2), .table>tbody tr td:nth-child(2){
    max-width: 150px;
    width: 100px !important;
    overflow: hidden;
    white-space: inherit;
    text-overflow: ellipsis;
}
table thead tr th:nth-child(3), .table>tbody tr td:nth-child(3){
    width: 150px !important;
    max-width: 200px;
}
#table-users thead tr th:nth-child(3), #table-users>tbody tr td:nth-child(3){
    width: 100px !important;
    max-width: 150px;
}
#table-task thead tr th:nth-child(3), #table-task>tbody tr td:nth-child(3){
    width: auto !important;
    max-width: 100%;
}
tbody tr td{
    white-space: initial;
    text-overflow: ellipsis;
    overflow: hidden;
}
tbody tr td p {
    white-space: initial ;
    margin-bottom: 0;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
table.dataTable td, table.dataTable th{
    text-align: center;
}
#table-task>tbody tr td:nth-child(3){
    text-align: left;
    white-space: nowrap;
}
.time-table{
    margin-right: 10px;
}
/* Modal */

.modal-header{
    justify-content: center;
}
.modal-header .btn-close{
    position: absolute;
    right: 10px;
    margin: 0;
}
.modal-header .modal-title {
    font-size: 18px;
    font-weight: 700;
}
.modal-body{
    text-align: left;
}
.ql-container{
    height: 12rem;
}
.ql-editor{
    min-height: 2rem !important;
    max-height: 5rem;
}
/*  users */
.add-users .las{
    font-size: 20px;
}
form div>label span{
    color: #ee0033;
}
.add-users .nav-item{
    position: relative;
}

.add-users .nav-item .nav-link {
    width: 200px;
}
.tab-content .tab-pane{
    padding: 0;
    border: none;
}
.main-avatar{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    border-radius: 16px;
    border: solid #d8d7d7;
    position: relative;
}
.show-avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-image: url("../images/web/avatar.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
.show-avatar img{
    padding: 2px;
    border: dashed #ccc;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.avatar_image {
    object-fit: cover;
}
#avatar_input{
    display: none;
}
.main-avatar:hover #avatar_input{
    width: 40%;
    height: 80%;
    display: block;
    position: absolute;
    top: 10%;
    left: 25%;
    opacity: 0;
    cursor: pointer;
}
.card-custom{
    margin: 15px 0px ;
    padding: 10px 0;
    border-radius: 16px;
    border: solid #d8d7d7;
}
/* task */
.row-task{
    background-color: #fff;
}
.card-home .user-join .badge{
    padding: 5px !important;
}

.card-home a:hover{
    color: #fff;
}
