<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <link rel="stylesheet" href="themes/fontawesome-free-6.0.0-web/css/all.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>
    <div id="app">
        <v-app>
            <v-main>
                <v-container>
                    <template>
                        <v-simple-table>
                          <template v-slot:default>
                            <thead>
                              <tr>
                                <th>language</th>
                                <th>region</th>
                                <th>quoteType</th>
                                <th >Time</th>
                              </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(value,index) in storages" :key="index">
                                    <td v-text="value[0]"></td>
                                    <td v-text="value[1]"></td>
                                    <td v-text="value[2]"></td>
                                    <td >{{localTime}}</td>
                                </tr>
                            </tbody>
                          </template>
                    </v-simple-table>
                    </template>

                    <template>
                        <v-simple-table dark>
                          <template v-slot:default>
                            <thead>
                              <tr>
                                <th>language</th>
                                <th>region</th>
                                <th>quoteType</th>
                                <th class="text-center">Theo dõi</th>
                              </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(item,index) in laguages" :key="index">
                                    <td v-text="item.language">{{index}}</td>
                                    <td v-text="item.region"></td>
                                    <td v-text="item.quoteType"></td>
                                    <td  v-on:click="theoDoi(item.language,item.region,item.quoteType) "><i :class="ghim "></i></td>
                              </tr>
                            </tbody>
                          </template>
                    </v-simple-table>
                    </template>
                </v-container>
            </v-main>
        </v-app>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js "></script>
    <script src="index.js ">
    </script>

</body>

</html>