@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@700&display=swap');

:root {
    --body-color: hsl(208, 97%, 85%);
    --text-color: hsl(244, 4%, 36%);
    --body-font: "Poppins", sans-serif;
}
  
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body{
    background: url('../img/bg-login.png') center;
}

h1{
    font-family: 'Alkatra';
}

ul{
    list-style-type: none;
    
}

ul > li > i{
    font-size: 20px;
}

.test{
    height: 100vh;
    color: var(--text-color);
    font-family: var(--body-font);
}

.sidebar{
    background-color: hsla(244, 16%, 92%, .6);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0px 30px rgba(0, 0, 0, 0.9);
    border: 2px solid hsla(244, 16%, 92%, .75);
    transition: top 0.5s ease-in-out;
}

.show {
    top: 0 !important;
}
  

.dashboard{
    background-color: hsla(244, 16%, 92%, .6) !important;
    border: 2px solid hsla(244, 16%, 92%, .75) !important;
    backdrop-filter: blur(10px) !important;
    border-radius: 1rem !important;
}

.note{
    border-radius: 1rem !important;
}

.sidebar--night{
    background-color: hsla(240, 41%, 49%, 0.6) !important; 
    border: 2px solid hsla(249, 72%, 65%, 0.75) !important;
}

.dashboard--night{
    background-color: hsla(240, 41%, 49%, 0.6) !important;
    border: 2px solid hsla(249, 72%, 65%, 0.75) !important;
}

.text_light{
    color: #fff !important;
}

@media only screen and (max-width: 992px) {

    .sidebar{
        position: absolute;
        top: -300px;
    }
}

@media screen and (max-width: 767px){
    div.dataTables_length,div.dataTables_wrapper div.dataTables_filter{
        text-align: start !important;
    }

    .row>*{
        padding-left: 0 !important;
       
    }
    .row{
        margin-left: 0 !important;
    }
}

@media only screen and (max-width: 576px) {
    .dashboard{
        margin-left: 1.5rem;
    }

    .row{
        margin-left: 0 !important;
    }
}

